{
    "env": {
        "node": true,
        "browser": true,
        "es6": true
    },
    "plugins": [
        "react",
        "babel",
        "react-hooks"
    ],
    "extends": [
        "prettier"
    ],
    "parser": "babel-eslint",
    "rules": {
        "no-console": "off",
        "no-irregular-whitespace": "error",
        "no-whitespace-before-property": "error",
        "no-extra-parens": "off",
        "no-trailing-spaces": "off",
        "no-multiple-empty-lines": "error",
        "curly": "off",
        "dot-location": "off",
        "dot-notation": "off",
        "guard-for-in": "off",
        "no-implicit-coercion": "off",
        "no-implicit-globals": "off",
        "complexity": "off",
        "camelcase": "off",
        "array-callback-return": "warn",
        "require-atomic-updates": "warn",
        "no-debugger": "warn",
        "no-control-regex": "warn",
        "no-sparse-arrays": "warn",
        "no-extra-bind": "warn",
        "no-use-before-define": "warn",
        "default-case": "warn",
        "accessor-pairs": "warn",
        "no-empty-function": "warn",
        "no-fallthrough": "warn",
        "quotes": [
            2,
            "single",
            {
                "avoidEscape": true,
                "allowTemplateLiterals": true
            }
        ],
        "max-classes-per-file": [
            "error",
            5
        ],
        "no-confusing-arrow": "error",
        "for-direction": "error",
        "getter-return": "error",
        "no-async-promise-executor": "error",
        "no-await-in-loop": "error",
        "no-compare-neg-zero": "error",
        "no-cond-assign": "error",
        "no-constant-condition": "error",
        "no-dupe-args": "error",
        "no-dupe-keys": "error",
        "no-empty": "error",
        "no-empty-character-class": "error",
        "no-ex-assign": "error",
        "no-extra-boolean-cast": "error",
        "no-extra-semi": "error",
        "no-func-assign": "error",
        "no-inner-declarations": "error",
        "no-invalid-regexp": "error",
        "no-misleading-character-class": "error",
        "no-obj-calls": "error",
        "no-prototype-builtins": "error",
        "no-regex-spaces": "error",
        "no-template-curly-in-string": "error",
        "no-unexpected-multiline": "error",
        "no-unreachable": "error",
        "no-unsafe-finally": "error",
        "no-unsafe-negation": "error",
        "valid-typeof": "error",
        "eqeqeq": "error",
        "no-eval": "error",
        "no-redeclare": "error",
        "no-undef": "error",
        "no-useless-concat": "error",
        "use-isnan": "error",
        "no-useless-escape": "error",
        "block-scoped-var": "error",
        "no-alert": "error",
        "no-case-declarations": "error",
        "no-caller": "error",
        "no-div-regex": "error",
        "yoda": "error",
        "no-empty-pattern": "error",
        "no-eq-null": "error",
        "no-extra-label": "error",
        "no-floating-decimal": "error",
        "no-global-assign": "error",
        "no-implied-eval": "error",
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "space-before-function-paren": "off"
    }
  }