{
    "parser": "babel",
    "tabWidth": 4,
    "printWidth": 150,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "avoid"
  }
  